@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

:root {
  --background: linear-gradient(
    304deg,
    rgba(1, 1, 31, 1) 66%,
    rgba(11, 11, 66, 1) 100%
  );
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Berkshire Swash', serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/background.png); /* chemin vers ton image */
  background-size: cover; /* l'image prend tout l'écran */
  background-position: center; /* centre l'image */
  background-repeat: no-repeat; /* pas de répétition */
  /* background: linear-gradient(
    304deg,
    rgba(1, 1, 31, 1) 66%,
    rgba(11, 11, 66, 1) 100%,
    rgba(41, 5, 66) 50%
  ); */
  /* background-size: 400% 400%;
  animation: gradient 5s ease infinite; */
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
button {
  width: 130px;
  height: 130px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #ec6202;
  border: none;
  cursor: pointer;

  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );

  font-size: 15px;
  font-family:
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border: 2px solid black;

  transition:
    transform 0.2s,
    box-shadow 0.2s;
}
#container {
  position: relative;
  width: 50vw;
  height: 65vh;
  margin: auto;
}
.game-box {
  position: absolute; /* toutes les sections superposées */
  overflow: hidden;
  display: none;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--background);
  border-radius: 5px;
  border: solid 1px #ec6202;
  color: whitesmoke;
  user-select: none;
}

#start-screen {
  background-color: rgba(255, 255, 255, 0.8);
}
h1 {
  font-size: 4rem;
  letter-spacing: 5px;
}

#zodiac-option {
  z-index: 0;
}

#zodiac-sign {
  width: 60%;
  list-style: none;
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#zodiac-sign li {
  cursor: pointer;
  padding: 10px;
  gap: 20px;
  margin: 5px;
  border-radius: 10px;
  background-color: #070128;
  color: white;
  font-size: 17px;
  transition:
    transform 0.2s,
    background-color 0.2s;
}

#zodiac-sign li:hover {
  transform: scale(1.05);
  background-color: #3a1b5c;
}
#zodiac-sign li.selected {
  transform: scale(1.08);
  background-color: #3a1b5c;
  border: whitesmoke 1px solid;
}

#rules {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 0;
}

#rules p {
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0;
}
#rules h2 {
  letter-spacing: 15px;
}

#infos {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: row;
}

#infos img {
  width: 50px;
  padding: 5px;
  object-fit: contain;
}

.ingredients {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 50px;
}

.ingredients img {
  width: 40px;
  height: 40px;
  padding: 10px;
  object-fit: contain;
}

h3 {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
}
p {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

#game-screen {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  z-index: 1;
}
#game-infos {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 1.1rem;
}

.infos-left p,
.infos-right p {
  margin: 5px 0;
  font-size: 1.2rem;
}
.infos-left span,
.infos-right span {
  color: #ec6202;
  font-size: 1.5rem;
}
.infos-left img {
  width: auto;
  height: 20px;
}

#game-over {
  /* display: none; */
  z-index: 0;
}
#game-over h2 {
  letter-spacing: 5px;
  margin: 20px;
}
#horoscope-result p {
  font-size: 0.5rem;
  letter-spacing: 1px;
}
.wave span {
  display: inline-block;
  animation: textWave 1.5s ease-in-out infinite;
}

@keyframes textWave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.ingredients img {
  display: inline-block;
  animation: floatWave 2s ease-in-out infinite;
}

@keyframes floatWave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
#astral img {
  animation-duration: 1.5s;
}

#rotten img {
  animation-duration: 2.5s;
}

#ordinary img {
  animation-duration: 2s;
}
