@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

:root {
  --background: linear-gradient(
    304deg,
    rgba(1, 1, 31, 1) 66%,
    rgba(11, 11, 66, 1) 100%
  );
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Berkshire Swash', serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
}

button {
  width: 200px;
  height: 200px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: gold;
  border: none;
  cursor: pointer;

  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );

  font-size: 18px;
  font-family: 'Berkshire Swash', serif;
  font-weight: bold;
  color: #01011f;
  letter-spacing: 2px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

/* Effet au survol */
.star-button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px gold;
}

#game-rules,
#games-screen,
#game-over,
h2 {
  display: none;
}

#start-screen {
  display: block;
  width: 60vw;
  height: 80vh;
  background-color: whitesmoke;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  inset: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 4rem;
  color: #01011f;
}
#zodiac-sign {
  width: 60%;
  list-style: none;
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#zodiac-sign li {
  cursor: pointer;
  padding: 10px;
  gap: 20px;
  margin: 5px;
  border-radius: 10px;
  background-color: #070128;
  color: white;
  font-size: 16px;
  transition:
    transform 0.2s,
    background-color 0.2s;
}

#zodiac-sign li:hover {
  transform: scale(1.05);
  background-color: #3a1b5c;
}

#next-btn {
}
